extends page

mixin badge(path, repo)
  - var opts = '.svg?style=flat-square&colorB=494E8E'
  img.badge(src='https://img.shields.io/' + path + repo + opts)

block content
  #cv.col-12
    section#header
      h1 Curriculum Vitae
      h2 Jonathan Reeve
      div!= contents

    nav.btn-group.btn-group-block
      - var sections = ['Education', 'Projects', 'Talks', 'Publications', 'Positions', 'Awards','Teaching', 'Affiliations']
      each section in sections
        a.btn(href='#'+section.toLowerCase())= section

    section#education
      h2 Education
      table.table.table-striped.table-hover
        each entry in cv.ed.reverse()
          tr
          td!= entry.date
          td!= entry.university
          td!= entry.degree
          td!= entry.field

    section#projects
      h2 Projects
      each project in cv.projects
        .card
          h3.card-header
            a(href=project.url class="project-link")!= project.title
          div.card-body
            span.project-date
              != '(' + project.start + ' - '
              if project.end
                != project.end
              != ')'
            span!= project.description
            if project.notes
              ul.notes
                li!= project.notes
            if project.updates
              ul.updates
                each update in project.updates.reverse()
                  li
                    span.date!= update.date + ' '
                    if update.type
                      span.chip.type!= update.type
                    if update.title
                      span.updateTitle!= update.title
                    span.description!= update.description
                    if update.venue
                      span.venue!= 'at ' + update.venue
                    if update.pubVenue
                      span.pubVenue!= 'in ' + update.pubVenue
            if project.github
              .badges
                +badge('github/tag/', project.github)
                +badge('github/stars/', project.github)
                +badge('github/issues/', project.github)
                if project.pypi
                  +badge('pypi/v/', project.pypi)

    section#talks
      h2 Talks and Conference Presentations
      - var talks = []
      // Go through each project, look for talks
      each project in cv.projects
        if project.updates
          each update in project.updates
            if update.type == 'talk'
              // Add to one big list of them, for sorting
              - talks.push(update)
      // Sort by date. Fancy Javascript sorting magic.
      each talk in talks.sort((a,b) => new Date(b.date) - new Date(a.date))
        ul.talks
          li.talk
            span.date= talk.date
            span.updateTitle!= '"' + talk.title + '"'
            span.venue!= 'at ' + talk.venue

    section#publications
      h2 Publications
      ul.publications
        each project in cv.projects
          if project.updates
            each update in project.updates
              if update.type == 'publication'
                li.publication
                  span.date!= update.date
                  span.chip!= update.pubType
                  span.updateTitle!= '"' + update.title + ',"'
                  em
                    span.venue!= update.venue

    section#awards
      h2 Awards
      ul.awards
        each project in cv.projects
          if project.updates
            each update in project.updates
              if update.type == 'award'
                li.publication
                  span.date!= update.date
                  span.updateTitle!= update.title
                  span.description!= update.description
                  span.project!= 'for ' + project.title

    section#positions
      h2 Positions and Freelance Clients
      each position in cv.positions
        span.position-date!= position.start + ' - ' + position.end
        span!= position.org
        ul.position-updates
        if position.notes
          ul.notes
            each note in position.notes
              li.note!= note

    section#teaching
      h2 Teaching and Workshops
      ul#teaching
        each job in cv.teaching
          li.job
            span.job-date!= job.date
            span.chip.job-type!= job.type
            span.job-name!= '"' + job.name + ',"'
            span.job-venue!= job.venue
          if job.notes
            ul.notes
              each note in job.notes
                li.note!= note

    section#affiliations
      h2 Affiliations and Professional Activities
      ul#affiliations
        each affiliation in cv.affiliations
          li.affiliation!= affiliation

  //-div!= JSON.stringify(cv.projects)
