doctype html
html
  head
    title= site.title
    meta(charset="UTF-8")
    meta(name='description', content= site.description)
    link(rel='stylesheet', href='assets/css/style.css')
  body
    header 
      h1= site.title
      p= site.description
      nav
        each navitem in site.nav 
          li
            a(href=navitem.url)= navitem.name

    block content

    footer 
      p Contact: #{site.author.email}
      a(href="http://twitter.com/#{site.author.twitter}") Twitter: @j0_0n
