doctype html
html
  head
    title= site.title
    meta(charset="UTF-8")
    meta(name='description', content= site.description)

    link(rel='stylesheet', href='/assets/css/style.css')
    link(href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700" rel="stylesheet")

    // Code highlighting with highlight.js. 
    link(rel='stylesheet', href='/assets/css/railscasts.css')

    // Icons with FontAwesome
    link(rel='stylesheet', href='/assets/css/font-awesome.min.css')

  body
    header.navbar
      section.navbar-section.navbar-brand
        h1
          a(href='/')= site.title
        h2= site.description
      nav.navbar-menu.navbar-end
        each navitem in site.nav 
          a.navbar-item(href=navitem.url)= navitem.name

    section.container
      block content

    footer 
      div!= site.coda
      a(href="http://github.com/" + site.author.github).fa.fa-github
      a(href="http://twitter.com/" + site.author.twitter).fa.fa-twitter
      a(href="mailto:" + site.author.email).fa.fa-envelope
