doctype html
html
  head
    title= site.title
    meta(name='description', content= site.description)
    link(rel='stylesheet', href='assets/css/style.css')
  body
    h1= site.title
    p= site.description
    block content

    footer 
      p Contact: #{site.author.email}
      a(href="http://twitter.com/#{site.author.twitter}") Twitter: @j0_0n
