extends page

block content
  section
    h1= title
    time= 'Posted ' + date
    span.tags= ' in '
      each tag in tags
        tag
          a(href='/tags/#' + tag.slug)= tag.name
    #contents!= contents
