extends page

block content
  section#post
    h1= title
    .meta
      time= 'Posted ' + date
      span.tags= ' in '
        each tag in tags
          a.chip(href='/tags/#' + tag.slug)= tag.name
    #contents!= contents
    #disqus_thread
      script.
        var disqus_config = function () {
          //this.page.url =
          //this.page.identifier
        }
        var d = document, s = d.createElement('script');
        s.src = 'https://jonreeve.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
