extends page

block content
  section#post
    h1= title
    .meta
      time= 'Posted ' + date
      span.tags= ' in '
        each tag in tags
          a.chip(href='/tags/#' + tag.slug)= tag.name
    #contents!= contents
