extends page

block content
  #cv.col-12
    section#header
      h1 Jonathan Reeve: Résumé
      div!= contents

    section#education
      h2 Education
      table.table.table-striped.table-hover
        each entry in cv.ed.reverse()
          tr
          td!= entry.date
          td!= entry.university
          td!= entry.degree
          td!= entry.field

    section#positions
      h2 Positions and Freelance Clients
      each position in cv.positions
        // Don't display old entries
        - var year = parseInt(position.start.substring(0, 4))
        if year > 2014
          span.position-date!= position.start + ' - ' + position.end
          span!= position.org
          ul.position-updates
          if position.notes
            ul.notes
              each note in position.notes
                li.note!= note

    section#projects
      h2 Projects
      ul
        each project in cv.projects
          li
            a(href=project.url class="project-link")!= project.title + ' '
            span.project-date
              != '(' + project.start + ' - '
              if project.end
                != project.end
              != ')'
            span!= project.description
            if project.notes
              ul.notes
                li!= project.notes

    section#teaching
      h2 Teaching and Workshops
      ul#teaching
        each job in cv.teaching
          // Don't display old entries
          - var year = parseInt(job.date.substring(0, 4))
          if year > 2016
            li.job
              span.job-date!= job.date
              span.chip.job-type!= job.type
              span.job-name!= '"' + job.name + ',"'
              span.job-venue!= job.venue
            if job.notes
              ul.notes
                each note in job.notes
                  li.note!= note

    section#affiliations
      h2 Affiliations and Professional Activities
      ul#affiliations
        each affiliation in cv.affiliations
          li.affiliation!= affiliation

  //-div!= JSON.stringify(cv.projects)
